# Dependencies
/node_modules

# Compilation Output / Hardhat Artifacts
/artifacts
/cache
/dist
/build
/coverage
/coverage.json
/typechain
/typechain-types
/ignition

# Secrets/Configuration (CRITICAL)
# This excludes a .env file if one were placed in the root
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS and Editor Specific Files
.DS_Store
.idea/
.vscode/
*.swp